<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
        <% machines.forEach(function(machine) { %>
          <li><%= machine.machineName %> - <%= machine.ip %> - <%= machine.timeStamp %></li>
      <% }); %>
    </ul>   
  </body>
</html>
